<div id="react-root"></div>
<!-- head 内 -->
<%
=begin%>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> 
<%
=end%>

<!-- body の末尾 -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>